.Categories-Category {
    background: #FFF;
    color: #000;
    font-weight: 600;
    transition: .2s all linear;
    cursor: pointer;
    border-radius:8px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #E4E4E4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Categories-Current {
    background: brown;
    border: none;
}

.Categories-Container {
    position: fixed;
    top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}