@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
}

.bm-item-list {
    height: auto !important;
}

html {
    overflow-y: hidden;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    background: black;
}

span {
    font-family: Montserrat;
}

.bm-menu {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
